#menuscreen{
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url(menu.gif);
	overflow: hidden;
	display: block;
	z-index: 10;
}





#map1 {
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	display: none;
	background: url(map/1.gif);
	overflow: hidden;
	z-index: 10;
}

#map2 {
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url(map/2.gif);
	display: none;
	overflow: hidden;
	z-index: 9;
}
#map3 {
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url(map/3.gif);
	display: none;
	overflow: hidden;
	z-index: 8;
}
#map4 {
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url(map/4.gif);
	display: none;
	overflow: hidden;
	z-index: 7;
}
#map5 {
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url(map/5.gif);
	display: none;
	overflow: hidden;
	z-index: 6;
}
#map6 {
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url(map/6.gif);
	display: none;
	overflow: hidden;
	z-index: 5;
}
#map7 {
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url(map/7.gif);
	display: none;
	overflow: hidden;
	z-index: 4;
}
#map8 {
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url(map/8.gif);
	display: none;
	overflow: hidden;
	z-index: 3;
}
#map9 {
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url(map/9.gif);
	display: none;
	overflow: hidden;
	z-index: 2;
}
#map10 {
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url(map/10.gif);
	display: none;
	overflow: hidden;
	z-index: 1;
}
#map11 {
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url(map/11.gif);
	display: none;
	overflow: hidden;
	z-index: 0;
}
/*Game Over Screen*/
#gameover{
	width: 900px;
	width: 900px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url(map/gameover.png);
	display: none;
	overflow: hidden;
	z-index : 900;
}
/*obstacle*/
.obs{
	position: absolute;
	z-index: 400;
}

/*features*/
.bonfire-rad{
	width: 80px;
	height: 80px;
	position: absolute;
	margin: 0 auto;
	left: 730px;
	top: 150px;
}
.bonfire{
	width: 45px;
	height: 45px;
	left: 15px;
	top: 15px;
	background: url(feature/bonfire.png);
	background-size: 100%;
}
/*items*/
/*Collectable*/
.kayu {
	width: 24px;
	height: 24px;
	background: url(items/kayu.png);
	background-size: 100%;
}
.kayu01 {
	width: 24px;
	height: 24px;
	background: url(items/kayu.png);
	background-size: 100%;
}
.kayu02 {
	width: 24px;
	height: 24px;
	background: url(items/kayu.png);
	background-size: 100%;
}
.kayu03 {
	width: 24px;
	height: 24px;
	background: url(items/kayu.png);
	background-size: 100%;
}

.kayu04 {
	width: 24px;
	height: 24px;
	background: url(items/kayu.png);
	background-size: 100%;
}

.kayu05 {
	width: 24px;
	height: 24px;
	background: url(items/kayu.png);
	background-size: 100%;
}

.kayu06 {
	width: 24px;
	height: 24px;
	background: url(items/kayu.png);
	background-size: 100%;
}

.kayu07 {
	width: 24px;
	height: 24px;
	background: url(items/kayu.png);
	background-size: 100%;
}

.kayu08 {
	width: 24px;
	height: 24px;
	background: url(items/kayu.png);
	background-size: 100%;
}

.kayu09 {
	width: 24px;
	height: 24px;
	background: url(items/kayu.png);
	background-size: 100%;
}

.kayu10 {
	width: 24px;
	height: 24px;
	background: url(items/kayu.png);
	background-size: 100%;
}

.kayu11 {
	width: 24px;
	height: 24px;
	background: url(items/kayu.png);
	background-size: 100%;
}


.batu{
	width: 24px;
	height: 24px;
	background: url(items/batu.png);
	background-size: 100%;	
}
.batu01{
	width: 24px;
	height: 24px;
	background: url(items/batu.png);
	background-size: 100%;	
}
.batu02{
	width: 24px;
	height: 24px;
	background: url(items/batu.png);
	background-size: 100%;	
}
.batu03{
	width: 24px;
	height: 24px;
	background: url(items/batu.png);
	background-size: 100%;	
}
.batu04{
	width: 24px;
	height: 24px;
	background: url(items/batu.png);
	background-size: 100%;	
}
.batu05{
	width: 24px;
	height: 24px;
	background: url(items/batu.png);
	background-size: 100%;	
}
.batu06{
	width: 24px;
	height: 24px;
	background: url(items/batu.png);
	background-size: 100%;	
}
.batu07{
	width: 24px;
	height: 24px;
	background: url(items/batu.png);
	background-size: 100%;	
}
.batu08{
	width: 24px;
	height: 24px;
	background: url(items/batu.png);
	background-size: 100%;	
}
.batu09{
	width: 24px;
	height: 24px;
	background: url(items/batu.png);
	background-size: 100%;	
}
.batu10{
	width: 24px;
	height: 24px;
	background: url(items/batu.png);
	background-size: 100%;	
}
.batu11{
	width: 24px;
	height: 24px;
	background: url(items/batu.png);
	background-size: 100%;	
}
.liat{
	width: 24px;
	height: 24px;
	background: url(items/liat.png);
	background-size: 100%;
}
.liat01{
	width: 24px;
	height: 24px;
	background: url(items/liat.png);
	background-size: 100%;
}
.liat02{
	width: 24px;
	height: 24px;
	background: url(items/liat.png);
	background-size: 100%;
}
.liat03{
	width: 24px;
	height: 24px;
	background: url(items/liat.png);
	background-size: 100%;
}
.liat04{
	width: 24px;
	height: 24px;
	background: url(items/liat.png);
	background-size: 100%;
}
.liat05{
	width: 24px;
	height: 24px;
	background: url(items/liat.png);
	background-size: 100%;
}
.liat06{
	width: 24px;
	height: 24px;
	background: url(items/liat.png);
	background-size: 100%;
}
.liat07{
	width: 24px;
	height: 24px;
	background: url(items/liat.png);
	background-size: 100%;
}
.liat08{
	width: 24px;
	height: 24px;
	background: url(items/liat.png);
	background-size: 100%;
}
.liat09{
	width: 24px;
	height: 24px;
	background: url(items/liat.png);
	background-size: 100%;
}
.liat10{
	width: 24px;
	height: 24px;
	background: url(items/liat.png);
	background-size: 100%;
}
.liat11{
	width: 24px;
	height: 24px;
	background: url(items/liat.png);
	background-size: 100%;
}


/*Consumable*/
.apple {
	width: 24px;
	height: 24px;
	left: 130px;
	top: 280px;
	background: url(items/apel.png);
	background-size: 100%;
}
.apple01 {
	width: 24px;
	height: 24px;
	left: 117px;
	top: 72px;
	background: url(items/apel.png);
	background-size: 100%;
}
.apple02 {
	width: 24px;
	height: 24px;
	left: 130px;
	top: 280px;
	background: url(items/apel.png);
	background-size: 100%;
}
.apple03 {
	width: 24px;
	height: 24px;
	left: 189px;
	top: 305px;
	background: url(items/apel.png);
	background-size: 100%;
}
.apple04 {
	width: 24px;
	height: 24px;
	left: 173px;
	top: 325px;
	background: url(items/apel.png);
	background-size: 100%;
}
.apple05 {
	width: 24px;
	height: 24px;
	left: 533px;
	top: 420px;
	background: url(items/apel.png);
	background-size: 100%;
}
.apple06 {
	width: 24px;
	height: 24px;
	left: 760px;
	top: 345px;
	background: url(items/apel.png);
	background-size: 100%;
}
.apple07 {
	width: 24px;
	height: 24px;
	left: 443px;
	top: 524px;
	background: url(items/apel.png);
	background-size: 100%;
}
.apple08 {
	width: 24px;
	height: 24px;
	left: 776px;
	top: 254px;
	background: url(items/apel.png);
	background-size: 100%;
}
.apple09 {
	width: 24px;
	height: 24px;
	left: 130px;
	top: 246px;
	background: url(items/apel.png);
	background-size: 100%;
}
.apple10 {
	width: 24px;
	height: 24px;
	left: 654px;
	top: 243px;
	background: url(items/apel.png);
	background-size: 100%;
}
.apple11 {
	width: 24px;
	height: 24px;
	left: 135px;
	top: 332px;
	background: url(items/apel.png);
	background-size: 100%;
}



.grape {
	width: 24px;
	height: 24px;
	left: 130px;
	top: 280px;
	background: url(items/anggur.png);
	background-size: 100%;
}
/*obstacles*/
.tree{
	position: absolute;
}
.tree1{
	background: url(obs/tree1.png);
	background-size: 100%;
}
.tree2{
	width: 114px;
	height:148px;
	background: url(obs/tree2.png);
	background-size: 100%;
}
.boulder{
	width: 120px;
	height:100px;
	background: url(obs/bould1.png);
	background-size: 100%;
}

#character {
	 position: absolute;
	  top: 380px;
	  left: 450px;
	  width: 32px;
	  height: 32px;
	  background: url('character.png') no-repeat;
	  z-index: 300;
}
/*Status area*/
#status-box{
	position: fixed;
	bottom: 0;
	width: 110px;
	z-index: 400;
	left: 79px;
	top: 0;
	display: none;

}

.progress{
	width: 100px;
}
#status{
	position: relative;
	bottom: 0;
	width: auto

	;
	height: auto;
	margin: 0 auto;
}

#status span + #status p{
	display: inline;
}


#monster {
	 position: absolute;
	  top: 380px;
	  left: 450px;
	  width: 60px;
	  height: 60px;
	  background: url('monster/monster.png') no-repeat;
	  z-index: 300;
}

div.monster{
	background: url(monster/monster.png);
	width: 60px;
	height: 60px;
	z-index: 400;
	position: absolute;
	left: 100px;
	top: 500px;
}

#itemCheck{

	position: fixed;
	bottom: 20px;
	width: 110px;
	z-index: 400;
	left: 79px;
	top: 230px;
}

.storage{
	background: url(feature/storage.png);
		position: absolute;
	  top: 160px;
	  left: 400px;
	  width: 100px;
	  height: 100px;
}


#character.front-right { background-position: 0px 0px; }
#character.front-stand { background-position: -32px 0px; }
#character.front-left { background-position: -64px 0px; }

#character.left-right { background-position: 0px -32px; }
#character.left-stand { background-position: -32px -32px; }
#character.left-left { background-position: -64px -32px; }

#character.right-right { background-position: -64px -64px; }
#character.right-stand { background-position: -32px -64px; }
#character.right-left { background-position: -0px -64px; }

#character.back-right { background-position: 0px -96px; }
#character.back-stand { background-position: -32px -96px; }
#character.back-left { background-position: -64px -96px; }